#messageArea {
	width: 404px;
	height: 102px;
	resize:none;
	margin: 0;
	background: black;
	color: white;
	border: 2px solid;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
}

#messageField {
	background: black;
	color: white;
	border: 2px solid;
	width: 404px;
}

#myCanvas {
	border: 2px solid #fff;
}
